.breadcrumbs {
  padding: 35px 0 40px;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 22px;
}

.breadcrumbs__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    content: url(../img/icons/icon-breadcrumbs-arrow.svg);
    display: block;
    position: absolute;
    right: 7px;
  }
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #334257;
  margin-right: 32px;

}

.breadcrumbs__item:last-child .breadcrumbs__link,
.breadcrumbs__link:not([href]) {
  opacity: 0.5;
}

.page-title {
  margin-top: 0;
  margin-bottom: 12px;
}

.page-subtitle {
  padding-top: 0;
  font-size: 18px;
  line-height: 24px;
  color: #788AA6;
}
