.header {
  background-color: #ffffff;
  // border-bottom: 1px solid #eef4f7;
  position: relative;
  z-index: 10;
  overflow-x: clip;
  position: sticky;
  top: 0;
  z-index: 99;

  .wrapper {
    display: grid;
    grid-template-columns: 224px auto;
    background-color: #ffffff;
    border-bottom: 1px solid #eef4f7;

    @media (max-width: 1024px) {
      padding: 0;

    }
  }

  .main-nav {
    margin-right: auto;
  }

}

.header__logo {
  padding: 20px 46px 0 0;
  margin: 0;
  max-width: 224px;
  border-right: 1px solid #ebedef;
  text-decoration: none;
  display: block;
  grid-row: span 2 / auto;

  @media (max-width: 1500px) {
    padding-right: 0;
    max-width: 209px;
  }

  @media (max-width: 1024px) {
    grid-row: initial;
    border-right: none;
    padding: 0;
    display: flex;
    padding-left: 40px;
    max-width: 100%;
    width: 100%;
    padding-left: 20px;
  }
}

.header__logo img {
  @media (max-width: 1024px) {
    max-width: 127px;
  }
}

.header__top {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #ebedef;
  padding: 11px 0 12px 32px;
  height: max-content;
  position: relative;
  z-index: 2;

  @media (max-width: 1500px) {
    padding-left: 0;
  }

  @media (max-width: 1024px) {
    grid-column: span 2 / auto;
    order: -1;
    background-color: #EEF4F6;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 840px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 102%;
    border-bottom: 1px solid #ebedef;
    z-index: 0;
    top: 0;
    left: 99%;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .submenu-list-left {
    max-width: 741px;
  }

  .submenu-list-right {
    max-width: 415px;
  }
}

.header__bottom {
  padding: 0 30px;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 7.5px;

  @media (max-width: 1024px) {
    justify-content: flex-end;
    gap: 35px;
  }

  @media (max-width: 920px) {
    padding-right: 40px;
    padding-left: 35px;
  }

  @media (max-width: 840px) {
    justify-content: flex-end;
    padding: 0;
    padding-right: 20px;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 380px;
  width: 100%;

  @media (max-width: 1515px) {
    justify-content: flex-start;
  }

  @media (max-width: 1500px) {
    gap: 0px;
    justify-content: space-between;
    max-width: 343px;
    width: 100%;
  }

  @media (max-width: 840px) {
    display: none;
  }
}

.header__contacts .button--transparent {
  max-width: 162px;
  width: 100%;
}

.header__telephone {
  @media (max-width: 1500px) {
    text-align: left;
    width: initial;
  }
}

.header__buttons {
  max-width: 177px;
  display: flex;
  align-items: center;
}

.header__buttons .button--search {
  @media (max-width: 840px) {
    padding: 30px;
    // padding-right: 10px;
    border-right: none;
  }
}

.header__bottom {
  @media (max-width: 1500px) {
    padding: 0;
  }
}



// прилипающее меню
.sticky {
  position: fixed;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px -3px;

  .wrapper {
    align-items: center;
    grid-template-columns: 160px auto;
    padding-left: 33px;
    padding-right: 33px;

    @media (max-width: 920px) {
      padding-left: 33px;
      padding-right: 33px;
    }
  }

  .header__top {
    display: none;
  }

  .header__bottom {
    padding: 0;
  }

  .header__logo {
    padding: 0;
    max-width: 127px;
    border: none;
  }
}

// прилипающее меню конец
