.main-ratings {
  padding: 33px 0;
}

.main-ratings__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #334257;
  margin: 0;
  margin-bottom: 23px;
}

.main-ratings__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
  margin: 0 auto;

  @media (max-width: 1380px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 920px) {
    flex-wrap: wrap;
  }

  @media (max-width: 350px) {
    grid-template-columns: 1fr;
  }
}

.main-ratings__item {
  @media (max-width: 920px) {
    flex-basis: 328px;
  }
}

.ratings-card {
  display: block;
  padding: 21px 32px;
  color: #334257;
  background: #f8fafc;
  border: 1px solid #e8eaed;
  border-radius: 8px;
  text-decoration: none;

  @media (max-width: 450px) {
    padding: 15px;
  }
}

.ratings-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 70px;

  @media (max-width: 1380px) {
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  @media (max-width: 450px) {
    margin-bottom: 30px;
  }
}

.ratings-card__score {
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #334257;
  display: block;

  @media (max-width: 1380px) {
    font-size: 32px;
    line-height: 120%;
  }
}

.ratings-card__stars {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}

.ratings-card__logo {
  max-height: 16px;
  width: auto;
  margin: 0;
  margin-top: auto;
  display: block;
}
