.main-services {
  @media (max-width: 1000px) {
    padding: 50px 0;
  }

}

.main-services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
  }
}
