.main-services {
  padding: 64px 0;
  padding-bottom: 0;
}

.main-services__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0 32px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 320px;
}

.long-card {
  max-width: 736px;
  border-top: 1px solid #e5eaee;
  border-bottom: 1px solid #e5eaee;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  position: relative;
  z-index: 2;
  padding: 12px 24px;
}

.long-card__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #334257;
  z-index: 5;
}

.long-card__icon {
  width: 11px;
  height: 22px;
  z-index: 5;
  stroke: #303f82;
  stroke-width: 2;
}

.long-card__image-wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  border-radius: 8px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(48, 63, 130, 0.55), rgba(48, 63, 130, 0.55));
  }
}

.long-card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.long-card:hover {
  border-color: transparent;

  .long-card__image-wrapper {
    opacity: 1;
  }

  .long-card__title {
    color: #ffffff;
  }

  .long-card__icon {
    stroke: #ffffff;
  }
}
