.main-price {
  padding: 40px 0;

  .title {
    margin: 0;
    margin-bottom: 40px;
  }
}

.main-price--min {
  max-width: 992px;
  margin: 0 auto;
}

.main-price__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-price__item {
  border-top: 1px #ebedef solid;
  padding: 23px 0 15px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: 570px) {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
  }
}

.main-price__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #334257;
  margin: 0;
}

.main-price__link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #0098D0;
  text-decoration: none;
}

.main-price__cost {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #334257;
  text-align: right;
  margin-left: auto;

  @media (max-width: 570px) {
    text-align: left;
    margin: 0;
    order: 99;
  }
}
