.main-search {
  margin-bottom: 64px;
}

.main-search__wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
}

.main-search__title {
  margin: 0;
  max-width: 240px;
  width: 100%;
}

.main-search__form {
  flex-grow: 1;

  form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  input {
    background: #ffffff;
    border: 1px solid #7895a6;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7895a6;
    flex-grow: 2;
    padding: 15px 24px;
  }

  .button {
    max-width: 224px;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-left: -3px;
    cursor: pointer;
  }
}
