.main-services {
  margin-bottom: 32px;
}

.main-services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0 32px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 320px;
}

.main-services__item {
  max-width: 738px;
  width: 100%;
}
