.page-content {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 0 80px;

  img {
    display: block;
    margin-bottom: 40px;
  }

  .button--big {
    margin-bottom: 32px;
  }
}

.page-text {
  max-width: 992px;
  margin: 0 auto;
  margin-bottom: 42px;
}
