.promo-block {
  padding: 35px 0 37px;
  background-color: #eef4f7;
  color: #334257;
  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 930px) {
      gap: 23px;
    }

    @media (max-width: 370px) {
      gap: 14px;
    }
  }
}

.promo-block__left {
  max-width: 811px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 33px;

  @media (max-width: 1300px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #334257;
    margin: 0;
    max-width: 470px;

    @media (max-width: 1300px) {
      max-width: 100%;
    }

    @media (max-width: 550px) {
      color: #7895a6;
      font-weight: 600;
      font-size: 12px !important;
      line-height: 16px;
      font-family: "Open Sans", sans-serif;
    }
  }

  .tel-link {
    font-size: 32px;
    line-height: 40px;

    @media (max-width: 550px) {
      font-size: 20px;
    }
  }
}

.promo-block__right {
  @media (max-width: 940px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    justify-content: space-between;
    width: 100%;
    max-width: max-content;
  }

  @media (max-width: 370px) {
    grid-template-columns: 1fr;
  }

  .button {
    text-align: center;
    font-size: 12px;

    @media (max-width: 370px) {
      width: 100%;
      max-width: 100%;
    }
  }
}
