.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 10px 17px;
  max-width: 237px;
  background: #0098d0;
  color: #ffffff;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  border: 1px solid transparent;
}

.button--transparent {
  background: transparent;
  color: #0098d0;
  font-family: inherit;
  font-weight: 600;
  border-color: rgba(0, 152, 208, 0.5);
  font-size: 12px;
  padding: 12px 10px;
}

.button--plus {
  background: transparent;
  color: #0098d0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 152, 208, 0.5);
  border-radius: 4px;
  padding: 10px 16px 11px 42px;
  max-width: max-content;
  width: initial;
  justify-content: space-between;
  position: relative;

  svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
  }
}
