.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;

  .button--plus {
    padding-left: 42px;
  }
}

.buttons-wrapper__item {
  padding: 10px 16px 11px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
