.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 10px 17px;
  max-width: 237px;
  background: #0098d0;
  color: #ffffff;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-decoration: none;
  border: 1px solid transparent;
  transition: 0.2s linear;
}

.button:active,
.button:hover,
.button:focus {
  background-color: #303f82;
  color: #ffffff;
}

.button--transparent {
  background: transparent;
  color: #0098d0;
  font-family: inherit;
  font-weight: 600;
  border-color: rgba(0, 152, 208, 0.5);
  font-size: 12px;
  padding: 12px 10px;
  transition: 0.2s linear;

  &:active,
  &:hover,
  &:focus {
    background-color: #0098d0;
    color: #ffffff;
  }
}

.button--plus {
  background: transparent;
  color: #0098d0;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 152, 208, 0.5);
  border-radius: 4px;
  padding: 10px 16px 11px 42px;
  max-width: max-content;
  width: initial;
  justify-content: space-between;
  position: relative;
  transition: 0.2s linear;
  text-transform: uppercase;
}

.button__icon-plus {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 15px;
  fill: #0098d0;
}

.button--plus:active,
.button--plus:hover,
.button--plus:focus {
  background-color: #0098d0;
  color: #ffffff;

  .button__icon-plus {
    fill: #ffffff;
  }
}

.button--arrow {
  background: transparent;
  color: #0098d0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 152, 208, 0.5);
  border-radius: 4px;
  padding: 10px 16px 11px 42px;
  max-width: max-content;
  width: initial;
  justify-content: space-between;
  position: relative;
  transition: 0.2s linear;

  &::after {
    content: url(../img/icons/icon-arrow-back.svg);
    position: absolute;
    left: 15px;
    width: 16px;
    height: 16px;
    left: 15px;
    width: 16px;
    height: 16px;
  }

  &:active::after,
  &:hover::after,
  &:focus::after {
    content: url(../img/icons/plus-wh.svg);
  }
}

.button--search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #eef4f7;
  transition: 0.2s linear;

  @media (max-width: 1515px) {
    background-color: transparent;
    border-left: 1px solid #ebedef;
    border-right: 1px solid #ebedef;
    padding: 28px 44px;
  }
}

.button__icon-search {
  stroke: #334257;
  width: 16px;
  height: 16px;
  position: absolute;

  @media (max-width: 1515px) {
    stroke: #334257;
  }
}

.button--search:active,
.button--search:hover,
.button--search:focus {
  background-color: #303f82;

  @media (max-width: 1515px) {
    background-color: transparent;
  }

  .button__icon-search {
    stroke: #ffffff;

    @media (max-width: 1515px) {
      stroke: #334257;
    }
  }
}

.button--big {
  max-width: 100%;
  width: 100%;
}

.button--center {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  padding: 15px;
  display: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 43px;
  transition: 0.2s linear;
}
