.copyright {}

.copyright__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  border-top: 1px solid #ebedef;
  border-bottom: 1px solid #ebedef;

  @media (max-width: 1280px) {
    gap: 40px 70px;
  }

  @media (max-width: 920px) {
    border-top: none;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.copyright__item {
  width: 100%;
  flex-grow: 1;
  flex-basis: 304px;

  @media (max-width: 1280px) {
    max-width: max-content;
  }

  @media (max-width: 920px) {
    flex-basis: 0;
  }
}

.copyright__link {
  font-size: 14px;
  line-height: 20px;
  color: #334257;
  text-decoration: none;
  display: block;

  &:hover,
  &:active,
  &:focus,
  &.show {
    color: #0098d0;
  }

  &.active,
  &:not([href]) {
    color: #c3167c;
  }
}

.copyright__bottom {
  padding: 25px 0;
  color: #9aa1ac;
  font-size: 14px;
  line-height: 20px;
}

.copyright__bottom p {
  margin: 0;
}
