.directions-slider {
  max-width: 1248px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;

  .slider-button--next {
    right: -100px;
  }

  .directions-slider-prew {
    left: -100px;
  }
}

.directions-slider__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  text-decoration: none;
  color: #334257;
}

.directions-slider__icon {
  display: block;
}

.directions-slider__name {
  margin: 0;
}
