.first-slider {}

.first-slider .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1530px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: stretch;
  }

  @media (max-width: 1024px) {
    gap: 30px;
  }

  @media (max-width: 920px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 550px) {
    gap: 0;
  }
}

.first-slider .button {
  padding: 20px 10px;

  @media (max-width: 1530px) {
    margin-bottom: 56px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 126px;
  }

  @media (max-width: 920px) {
    margin-bottom: 100px;
  }

  @media (max-width: 550px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.first-slider__photo {
  max-width: 752px;
  padding-left: 3px;
  border-radius: 8px;
  overflow: hidden;

  @media (max-width: 1530px) {
    max-width: initial;
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: auto;

    @media (max-width: 1024px) {
      height: 100%;
    }
  }
}

.first-slider__details {
  max-width: 608px;
  margin: auto 0;
  margin-top: 93px;

  @media (max-width: 1530px) {
    max-width: initial;
    margin: 0;
    margin-right: auto;
  }

  @media (max-width: 550px) {
    background-color: #ffffff;
    padding: 20px;
    margin-top: -80px;
    width: 100%;
  }
}

.first-slider__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: inherit;
  margin: 0;
  margin-bottom: 38px;
  padding-right: 130px;

  @media (max-width: 1280px) {
    font-size: 32px;
    margin-bottom: 17px;
    padding: 0;
    max-width: 365px;
  }

  @media (max-width: 920px) {
    max-width: 100%;
  }

  @media (max-width: 550px) {
    font-weight: 500;
    font-size: 24px;
  }
}

.first-slider__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #788aa6;
  margin: 0;
  margin-bottom: 45px;

  @media (max-width: 1280px) {
    font-size: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.first-slider__navigation {
  display: flex;
  align-items: center;
  max-width: 608px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  bottom: 0;
  border-top: 1px #ebedef solid;
  border-bottom: 1px #ebedef solid;

  @media (max-width: 1530px) {
    max-width: 47%;
  }

  @media (max-width: 920px) {
    max-width: 100%;
  }
}

.first-slider__buttons-wrapper {
  display: flex;
  max-width: max-content;

  @media (max-width: 550px) {
    display: none;
  }

  .slider-button {
    position: initial;
    flex-direction: row;
    width: max-content;
    margin: initial;
    height: initial;
    padding: 25px 50px;
    border: none;
    border-radius: 0;

  }

  .swiper-button-next {
    padding-left: 51px;
    border: none;
  }

  .swiper-button-prev {
    padding-right: 51px;
    border: none;
    border-right: 1px #ebedef solid;
  }

}

.first-slider__pagination {
  width: initial;
  position: initial;
  max-width: 150px;

  @media (max-width: 550px) {
    max-width: max-content;
    margin: 0 auto;
  }

  .swiper-pagination-bullet {
    background-color: #d6d9dd;
    width: 8px;
    height: 8px;
    margin: 0 8px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #c3167c;
  }
}
