.header-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 20px;
}

.header-with-button__title {
  margin: 0 !important;
  margin-bottom: 24px;
  max-width: 1300px;
}

.header-with-button__form {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: baseline;
}
