.long-card {
  border-top: 1px solid #e5eaee;
  border-bottom: 1px solid #e5eaee;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 27px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.long-card__name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #334257;
  z-index: 5;
  margin: 0;
}

.long-card__icon {
  width: 14px;
  height: 24px;
  z-index: 5;
  stroke: #303f82;
  stroke-width: 2;
}

.long-card__image-wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  border-radius: 8px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(48, 63, 130, 0.55), rgba(48, 63, 130, 0.55));
  }
}

.long-card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.long-card:hover,
.long-card:active,
.long-card:focus {
  border-color: transparent;

  .long-card__image-wrapper {
    opacity: 1;
    transform: scale(1.018);
    z-index: 2;
  }

  .long-card__name {
    color: #ffffff;
  }

  .long-card__icon {
    stroke: #ffffff;
  }
}
