.main-nav {
    max-width: 800px;
}

.main-nav__list {
  list-style     : none;
  padding        : 0;
  margin         : 0;
  display        : flex;
  gap            : 16px;
  flex-wrap      : wrap;
  align-items    : center;
  justify-content: space-between;

  a {

    &:hover,
    &:active,
    &:focus,
    &.show {
      color: #0098D0;
    }

    &.active,
    &:not([href]) {
      color: #C3167C;
    }
  }
}

.main-nav__link {
  display        : block;
  font-family    : "Open Sans", sans-serif;
  text-decoration: none;
  font-weight    : 600;
  font-size      : 16px;
  line-height    : 24px;
  color          : #334257;
  padding        : 14px 0 16px;
  border-bottom  : 2px solid transparent;


  &:hover,
  &:active,
  &:focus,
  &.show {
    border-bottom: 2px solid #0098D0;
  }

  &.active,
  &:not([href]) {
    border-bottom: 2px solid #C3167C;
  }
}

.main-nav__parent {
  position: relative;
}

.main-nav__sublist {
  list-style    : none;
  padding       : 0;
  margin        : 0;
  position      : absolute;
  top           : 100%;
  left          : 0;
  background    : #FFFFFF;
  box-shadow    : 4px 4px 24px rgba(0, 0, 0, 0.2);
  border-radius : 0 4px 4px 4px;
  padding       : 25px 24px 27px 32px;
  display       : flex;
  gap           : 16px;
  width         : 408px;
  flex-wrap     : wrap;
  flex-direction: column;
  display       : none;

  li {
    width: 320px;
  }

  a {
    display        : block;
    font-family    : "Open Sans", sans-serif;
    text-decoration: none;
    font-style     : normal;
    font-weight    : normal;
    font-size      : 14px;
    line-height    : 20px;
    color          : #334257;
  }
}

.main-nav__parent:hover > .main-nav__sublist {
  display: flex;
}
