.menu-button {
  display: none;
  cursor: pointer;

  @media (max-width: 1515px) {
    background-color: transparent;
    position: relative;
    border: none;
    padding: 28px 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ebedef;
    border-bottom: 1px solid #ffffff;
    margin-left: auto;
  }

  @media (max-width: 840px) {
    padding: 30px;
  }

  span,
  span::before,
  span::after {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #0098d0;
  }

  span::before,
  span::after {
    content: "";
    display: block;
    transition: 0.2s;
  }

  span::before {
    transform: translateY(-8px);
  }

  span::after {
    transform: translateY(8px);
  }
}

.menu-button.active {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
  }

  span {
    height: 0;
  }

  span:before {
    transform: rotate(-45deg);
  }

  span:after {
    transform: rotate(45deg);
  }
}
