.search-button {
  width: 38px;
  height: 38px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef4f7;
  border: 1px solid #eef4f7;
  border-radius: 4px;

  @media (max-width: 1515px) {
    background-color: transparent;
    position: relative;
    padding: 28px 44px;
    border-left: 1px solid #ebedef;
    border-right: 1px solid #ebedef;
    border-bottom: 1px solid #ebedef;
    // margin-left: auto;
  }

  svg {
    width: 15px;
    height: 15px;
    display: block;
  }
}

.search-toggle {
  position: absolute;
  display: block;
  height: 14px;
  width: 14px;
  pointer-events: none;
}

.search-toggle::before,
.search-toggle::after {
  content: "";
  position: absolute;
  display: block;
  transition: all 0.1s;
}

.search-toggle::before {
  border: 2px solid #334257;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
  pointer-events: none;
}

.search-toggle::after {
  height: 2px;
  width: 7px;
  background: #334257;
  top: 11px;
  left: 9px;
  transform: rotate(45deg);
  border-radius: 8px;
  pointer-events: none;
}

/* активное  */
.search-toggle.active::before {
  width: 0;
  border-width: 1px;
  border-radius: 0;
  transform: rotate(45deg);
  height: 24px;
  top: -4px;
  left: 6px;
}

.search-toggle.active::after {
  width: 24px;
  left: -5px;
  height: 2px;
  top: 7px;
  border-radius: 0;
}

.search-button:hover,
.search-button:focus {
  .search-toggle::after {
    background: #ffffff;
  }
  .search-toggle::before {
    border-color: #ffffff;
  }

  @media (max-width: 1515px) {
    .search-toggle::after {
    background: #0098d0;
  }
  .search-toggle::before {
    border-color: #0098d0;
  }
  }
}
