.swiper-button-disabled svg {
  opacity: 0.4;
  cursor: inherit;
}

.custom-slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.swiper-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  background-color: transparent;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-family: none;
  font-size: 0;
  line-height: 0;
}
