.tel-link {
  font-family: "Montserrat", sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: inherit;
  text-decoration: none;
  /* display: flex;
  flex-wrap: wrap; */

  &:active,
  &:hover,
  &:focus {
    color           : #0098D0;
  }
}
