.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #334257;
  font-style: normal;

  @media (max-width: 550px) {
    font-size: 24px !important;
    line-height: 120% !important;
  }
}
