@media (max-width: 1500px) {
  .main-nav__list a:hover,
  .main-nav__list a:active,
  .main-nav__list a:focus,
  .main-nav__list a.show,
  .main-nav__list a.active,
  a:not([href]) {
    border-color: transparent;
  }

  .main-nav {
    align-items: initial;
    gap: 15px 32px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }

  .main-nav__parent {
    width: 100%;
    margin-bottom: 15px;
  }

  .main-nav__list a.show {
    color: inherit;
  }

  .main-nav__parent--empty {
    margin-bottom: 0;

    a {
      margin-bottom: 0;
    }
  }

  .main-nav__sublist {
    display: flex;
    position: initial;
    background: transparent;
    width: initial;
    padding: 0;
    box-shadow: none;
    border-radius: initial;
    gap: 22px;

    li {
      width: initial;
    }

    a {
      font-size: 14px;
      line-height: 120%;
      font-weight: 400;
      font-family: "Open Sans", sans-serif;
      text-transform: initial;
      margin: 0;
    }
  }

  .main-nav__sublist {
    flex-direction: column;
  }

  .header__logo {
    padding-right: 0;
    max-width: 209px;
  }

  .header__top {
    padding-left: 0;
  }

  .tel-link {
    font-size: 18px;
  }

  .header__contacts {
    gap: 0px;
    justify-content: space-between;
    max-width: 343px;
    width: 100%;
  }

  .header__contacts .tel-link {
    text-align: left;
    width: initial;
  }

  .header__bottom {
    padding: 0;
  }





}
