@media (max-width: 1530px) {
  .first-slider .swiper-slide {
    display                 : grid;
    grid-template-columns   : 1fr 1fr;
    gap                     : 60px;
    // align-items          : flex-start;
  }

  .first-slider__photo {
    max-width: initial;
  }

  .first-slider__details {
    max-width   : initial;
    margin      : auto 0;
    margin-right: auto;
  }


  .first-slider .button {
    margin-bottom: 56px;
  }

  .first-slider__navigation {
    max-width: 47%;
  }

}
