// глобальные стили
*,
::after,
::before {
  box-sizing: border-box;
}

:focus-visible {
  outline-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

// служебные классы
.font-fix {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #0098d0;
  text-decoration: none;
  transition: 0.2s linear;

  &:active,
  &:hover,
  &:focus {
    color: #c3167c;
  }

}

input {
  background: #ffffff;
  border: 1px solid #7895a6;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  padding: 16px 24px;
}

