// глобальные стили
*,
::after,
::before {
  box-sizing: border-box;
}

:focus-visible {
  outline-color: #de2c27;
}

img {
  max-width: 100%;
  height: auto;
}

// служебные классы
.icons-collection {
  display: none;
}

.font-fix {
  font-family: "Montserrat", sans-serif;
}
